body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.stage {
    width: 100%;
    height: 100%;
}

#canvas-stage {
    width: 100%;
    height: 100%;
    background-color: #666;
    position: relative;

    #score {
        color: #fff;
        font-size: 24px;
        text-align: center;
        padding-top: 30px;
    }

    canvas {
        background-color: #ff0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    padding: 7px 0;
    text-align: center;
    width: 100%;
    color: #fff;
    background-color: rgba(255,255,255,0.2);
}
